params {
    // Path to raw_reads folder, will need to define or something later
    raw_reads = "/home/ubuntu/blockvolume/nf_rnaseq/raw_data/*_R{1,2}*.fastq.gz"
    // Path to hybrid genome fasta
    hybrid_genome_file = "${projectDir}/modules/bbsplit/index/hybrid_genome.fasta"
    // Path to myco genome fasta
    myco_genome_file = "${projectDir}/modules/bbsplit/index/myco_genome.fasta"
    // Path to human rRNA fasta
    ribofile = "${projectDir}/modules/bbduk/human_rRNAs.fasta"
    annotation_file = "${projectDir}/modules/star/index/hybrid_annotated_cat.gtf"
    star_mode = "TranscriptomeSAM GeneCounts"

}

// Enable docker so we can use containers as modules for each tool
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)' // Ensures the container runs with the same user ID as the host
}


process.cpus = 8

process.debug = true

executor {
    name = 'local'
    cpus = 8
    memory = '58 GB'
    // queueSize = 1 // Limit the executor to run one task at a time
}